<%= form_for @changeset, user_path(@conn, :update, @user), fn f -> %>
  <div class="form-group">
    <label>
        Name: <%= text_input f, :name, placeholder: "Name", class: "form-control" %>
    </label>
  </div>
  <%= submit "Save User", class: "btn btn-primary" %>
<% end %>