<h3>Games</h3>

<ul class="collection">
<%= for game <- @games do %>
  <li class="collection-item">
    <%= link to: game_path(@conn, :show, game.id) do %>
      <%= "#{game.date.month}-#{game.date.day}-#{game.date.year} (winner: #{game.winner.name})" %>
    <% end %>
  </li>
<% end %>
</ul>

<div class="fixed-action-btn">
  <%= link to: game_path(@conn, :new), class: "mdl-button mdl-js-button mdl-button--fab mdl-button--colored" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
