/* This file is for your main application css. */

.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 40px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}